
<div class="good-shopping-banner-container">
  <div class="good-shopping-banner-logo"></div>
  <p class="good-shopping-banner-text">Good Shopping</p>
</div>

<%
  profile_url = "/" + @current_user["type"] + "s/" + @current_user["id"].to_s + "/edit"
  cart_url = "/carts/" + @current_user["id"].to_s
%>
<div class="main-navbar">
  <a class="main-navbar-link" href="/products">
    <div class="main-navbar-link-wrapper">
      <p class="main-navbar-link-text">Products</p>
    </div>
  </a>
  <a class="main-navbar-link" href=<%=profile_url%>>
    <div class="main-navbar-link-wrapper">
      <p class="main-navbar-link-text">Profile</p>
    </div>
  </a>
  <% if @current_user["type"] == "shopper" %>
    <a class="main-navbar-link" href=<%=cart_url%>>
      <div class="main-navbar-link-wrapper">
        <p class="main-navbar-link-text">Cart</p>
      </div>
    </a>
  <% end %>
  <a class="main-navbar-link" href="/logout">
    <div class="main-navbar-link-wrapper">
      <p class="main-navbar-link-text">Log out</p>
    </div>
  </a>
</div>

<h1>Edit Shopper</h1>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<div id="sign-up-create-container">
  <div id="sign-up-container">
    <div id="sign-up-form">
      <%= form_with model: @shopper, url: shopper_path(@shopper), method: :patch, local: true do |f| %>

        <p style={color=white}>Email</p>
        <%= f.text_field :email, :class => 'sign-up-create-input-field', placeholder: 'Email'%>
        <br>
        <p style={color=white}>Password</p>
        <%= f.text_field :password, :type => "password", :class => 'sign-up-create-input-field' , placeholder: 'Password'  %>
        <br>
        <p style={color=white}>Telephone</p>
        <%= f.text_field :telephone, :class => 'sign-up-create-input-field' , placeholder: 'Telephone' %>
        <br>
        <p style={color=white}>Address</p>
        <%= f.text_field :address, :class => 'sign-up-create-input-field' , placeholder: 'Address' %>
        <br>
        <p style={color=white}>.</p>
        <%= f.submit class: "sign-up-create-input-field sign-up-create-submit", id:"sign-up-submit"%>

      <% end %>

    </div>
  </div>
</div>
