<div class="good-shopping-banner-container">
  <div class="good-shopping-banner-logo"></div>
  <p class="good-shopping-banner-text">Good Shopping</p>
</div>


<h1>New Shopper</h1>

<div id="sign-up-create-container">
  <div id="sign-up-container">
    <div id="sign-up-form">
      <%= simple_form_for @shopper do |f| %>

        <%= f.error_notification %>

        <%= f.input :name, :input_html => { :class => 'sign-up-create-input-field' }, placeholder: 'Name', label:false %>
        <%= f.input :username, :input_html => { :class => 'sign-up-create-input-field' }, placeholder: 'Username', label:false %>
        <%= f.input :password, :input_html => { :class => 'sign-up-create-input-field' }, placeholder: 'Password', label:false %>
        <%= f.input :email, :input_html => { :class => 'sign-up-create-input-field' }, placeholder: 'Email', label:false %>
        <%= f.input :address, :input_html => { :class => 'sign-up-create-input-field' }, placeholder: 'Address', label:false %>
        <%= f.input :telephone, :input_html => { :class => 'sign-up-create-input-field' }, placeholder: 'Telephone', label:false %>


       <%= f.button :submit, class: "sign-up-create-input-field sign-up-create-submit", id:"sign-up-submit" %>
      <% end %>
    </div>
  </div>
</div>

