
<div class="good-shopping-banner-container">
  <div class="good-shopping-banner-logo"></div>
  <p class="good-shopping-banner-text">Good Shopping</p>
</div>

<%
  profile_url = "/" + @current_user["type"] + "s/" + @current_user["id"].to_s
  cart_url = "/carts/" + @current_user["id"].to_s
%>

<div class="main-navbar">
  <a class="main-navbar-link" href="/products">
    <div class="main-navbar-link-wrapper">
      <p class="main-navbar-link-text">Products</p>
    </div>
  </a>
  <a class="main-navbar-link" href=<%=profile_url%>>
    <div class="main-navbar-link-wrapper">
      <p class="main-navbar-link-text">Profile</p>
    </div>
  </a>
  <% if @current_user["type"] == "shopper" %>
    <a class="main-navbar-link" href=<%=cart_url%>>
      <div class="main-navbar-link-wrapper">
        <p class="main-navbar-link-text">Cart</p>
      </div>
    </a>
  <% end %>
  <a class="main-navbar-link" href="/logout">
    <div class="main-navbar-link-wrapper">
      <p class="main-navbar-link-text">Log out</p>
    </div>
  </a>
</div>

<h1>Cart Items</h1>

<ul>
  <% @products.each do |item| %>
    <li> Item: <%= link_to item["product"].product_name, item["product"] %> Quantity: <%= item["quantity"] %>
    </li>
  <% end %>
</ul>

<ul>
  <% total_price = 0%>
  <% @products.each do |item| %>
    <% total_price = total_price + item["product"].price%>
    <div class=productTile>
      <div class=imgplaceholder></div>
      <div class=text>
        <div class=heading><%= link_to item["product"].product_name, item["product"] %></div>
        <div class=rating>Rating: <%= item["product"].average_rating %></div>
        <div class=description><%= item["project"].description %></div>
        <div class=specs><%= item["product"].product_information %></div>
      </div>
      <div class=rightText>$<%= item["product"].price %></div>
      <div class=rightText>
        <div class=price>$<%= item["product"].price %>
        <br>
        <div class=stock>Quantity: <%= item["quantity"] %>
        </div>
        <br>
      </div>

      
    </div>
    <br>
  <% end %>

  <div class=TotalTile>
    <div class=text> Total Price: </div>
    <div class=rightTextTotal>$<%= total_price %></div>
  </div>
  <form>
    <input class=customButtonCart type=submit value="Place Order">
  </form>
</ul>
