
<div class="good-shopping-banner-container">
  <div class="good-shopping-banner-logo"></div>
  <p class="good-shopping-banner-text">Good Shopping</p>
</div>


<%
  profile_url = "/" + @current_user["type"] + "s/" + @current_user["id"].to_s
  if @current_user["type"] == "shopper"
    profile_url = profile_url + "/edit"
  end
  cart_url = "/carts/" + @current_user["id"].to_s
%>

<div class="main-navbar">
  <a class="main-navbar-link" href="/products">
    <div class="main-navbar-link-wrapper">
      <p class="main-navbar-link-text">Products</p>
    </div>
  </a>
  <a class="main-navbar-link" href=<%=profile_url%>>
    <div class="main-navbar-link-wrapper">
      <p class="main-navbar-link-text">Profile</p>
    </div>
  </a>
  <% if @current_user["type"] == "shopper" %>
    <a class="main-navbar-link" href=<%=cart_url%>>
      <div class="main-navbar-link-wrapper">
        <p class="main-navbar-link-text">Cart</p>
      </div>
    </a>
  <% end %>
  <% if @current_user["type"] == "manufacturer" %>
    <a class="main-navbar-link" href="/products/new">
      <div class="main-navbar-link-wrapper">
        <p class="main-navbar-link-text">Add Products</p>
      </div>
    </a>
  <% end %>
  <a class="main-navbar-link" href="/logout">
    <div class="main-navbar-link-wrapper">
      <p class="main-navbar-link-text">Log out</p>
    </div>
  </a>
</div>

<h1>Products</h1>

Here are all of the products carried by the store:

<ul>
  <% @products.each do |product| %>
    <% manufacturer = Manufacturer.find(product.manufacturer_id)%>
    <div class=productTile>
      <div class=imgplaceholder></div>
      <div class=text1>
        <div class=heading><%= link_to product.product_name, product %></div>
        <div class=manufacturar><%= manufacturer.name %></div>
        <div class=rating>Rating: <%= product.average_rating %></div>
        <div class=description><%= product.description %></div>
        <div class=specs><%= product.product_information %></div>
      </div>
      <div class=rightText>$<%= product.price %></div>
      
    </div>
    <br>
  <% end %>
</ul>
