<div class="good-shopping-banner-container">
  <div class="good-shopping-banner-logo"></div>
  <p class="good-shopping-banner-text">Good Shopping</p>
</div>
<%# if false%>
<%
  profile_url = "/" + @current_user["type"] + "s/" + @current_user["id"].to_s
  cart_url = "/carts/" + @current_user["id"].to_s
%>

<div class="main-navbar">
  <a class="main-navbar-link" href="/products">
    <div class="main-navbar-link-wrapper">
      <p class="main-navbar-link-text">Products</p>
    </div>
  </a>
  <a class="main-navbar-link" href=<%=profile_url%>>
    <div class="main-navbar-link-wrapper">
      <p class="main-navbar-link-text">Profile</p>
    </div>
  </a>
  <% if @current_user["type"] == "shopper" %>
    <a class="main-navbar-link" href=<%=cart_url%>>
      <div class="main-navbar-link-wrapper">
        <p class="main-navbar-link-text">Cart</p>
      </div>
    </a>
  <% end %>
  <% if @current_user["type"] == "manufacturer" %>
    <a class="main-navbar-link" href="/products/new">
      <div class="main-navbar-link-wrapper">
        <p class="main-navbar-link-text">Add Products</p>
      </div>
    </a>
  <% end %>
  <a class="main-navbar-link" href="/logout">
    <div class="main-navbar-link-wrapper">
      <p class="main-navbar-link-text">Log out</p>
    </div>
  </a>
</div>
<%#end%>
<br>
<p class="page-title">Upload Product</p>
<div id="sign-up-create-container">
  <div id="sign-up-container">
    <div id="sign-up-form">
      <%= simple_form_for @product do |f| %>

        <%= f.error_notification %>

        <p class:"field-labels"> Name</p>
        <%= f.input :product_name , :input_html => { :class => 'sign-up-create-input-field' }, placeholder: 'Product Name', label:false%>
        <p class:"field-labels"> Manufacturer</p>
        <%= f.input :manufacturer_id, collection: [Manufacturer.find(@current_user["id"])], include_blank: false , :input_html => { :class => 'sign-up-create-input-field' }, placeholder: 'Manufacturer', label:false, :disabled=>"disabled"%>
        <p class:"field-labels"> Avarage Rating</p>
        <%= f.input :average_rating, collection: [1,2,3,4,5], include_blank: false , :input_html => { :class => 'sign-up-create-input-field-dropdown' }, placeholder: 'Average Rating', label:false%>
        <p class:"field-labels"> Price</p>
        <%= f.input :price , :input_html => { :class => 'sign-up-create-input-field' }, placeholder: 'Price', label:false%>
        <p class:"field-labels"> Number in Stock</p>
        <%= f.input :number_in_stock , :input_html => { :class => 'sign-up-create-input-field' }, placeholder: 'Number in stock', label:false%>
        <p class:"field-labels"> Description</p>
        <%= f.input :description , :input_html => { :class => 'sign-up-create-input-field' }, placeholder: 'Description', label:false%>   <!--FIXME What is the difference between decr and prod info? -->
        <p class:"field-labels"> Product Information</p>
        <%= f.input :product_information, :input_html => { :class => 'sign-up-create-input-field' }, placeholder: 'Product Information', label:false%> 
        <%#= f.input :img, :as => :file%> 
        <%= f.button :submit, class: "sign-up-create-input-field sign-up-create-submit", id: "sign-up-submit" %>
        <%#= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
      <% end %>
    </div>
  </div>
</div>
