<h1>Add a product</h1>

<%= simple_form_for @product do |f| %>

  <%= f.error_notification %>

  <%= f.input :product_name %>
  <%= f.input :manufacturer_id, collection: Manufacturer.all, include_blank: false %>
  <%= f.input :price %>
  <%= f.input :number_in_stock %>
  <%= f.input :number_in_stock %>
  <%= f.input :average_rating %>
  <%= f.input :description %> 
  <%= f.input :product_information %> 
  <!-- Input image-->
  <%= f.button :submit, class: "btn-primary" %>
  <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
<% end %>
