
<div class="good-shopping-banner-container">
  <div class="good-shopping-banner-logo"></div>
  <p class="good-shopping-banner-text">Good Shopping</p>
</div>

<%
  profile_url = "/" + @current_user["type"] + "s/" + @current_user["id"].to_s
  cart_url = "/carts/" + @current_user["id"].to_s
%>

<div class="main-navbar">
  <a class="main-navbar-link" href="/products">
    <div class="main-navbar-link-wrapper">
      <p class="main-navbar-link-text">Products</p>
    </div>
  </a>
  <a class="main-navbar-link" href=<%=profile_url%>>
    <div class="main-navbar-link-wrapper">
      <p class="main-navbar-link-text">Profile</p>
    </div>
  </a>
  <% if @current_user["type"] == "shopper" %>
    <a class="main-navbar-link" href=<%=cart_url%>>
      <div class="main-navbar-link-wrapper">
        <p class="main-navbar-link-text">Cart</p>
      </div>
    </a>
  <% end %>
  <a class="main-navbar-link" href="/logout">
    <div class="main-navbar-link-wrapper">
      <p class="main-navbar-link-text">Log out</p>
    </div>
  </a>
</div>

<h1><%= @product.product_name %></h1>

<% manufacturer = Manufacturer.find(@product.manufacturer_id)%>
<!-- Add the image from product.img -->
    <div class=productTileOpen>
      <div class=imgplaceholder></div>
      <div class=text>
        <div class=heading><%= link_to @product.product_name %></div>
        <div class=manufacturar><%= link_to manufacturer.name, manufacturer %></div>
        <div class=rating>Rating: <%= @product.average_rating %></div>
        <div class=description><%= @product.description %></div>
        <div class=specs><%= @product.product_information %></div>
      </div>
      <div class=rightText>
        <div class=price>$<%= @product.price %></div>
        <br>
        <div class=stock><%= @product.number_in_stock %> left in stock</div>
        <br>
        <form>
          <input class=customButton type=submit value="Add to cart">
        </form>
      </div>
      
    </div>

