<h1><%= @product.product_name %></h1>

<p>Manufacturer: <%= @product.manufacturer %></p>
<p>Price: <%= @product.price %></p>
<p>Number in stock: <%= @product.number_in_stock %></p>
<p>Average Rating: <%= @product.average_rating %></p>
<p>Description: <%= @product.description %></p>