<div class="good-shopping-banner-container">
  <div class="good-shopping-banner-logo"></div>
  <p class="good-shopping-banner-text">Good Shopping</p>
</div>

<h1>New Manufacturer</h1>

<div id="sign-up-create-container">
  <div id="sign-up-container">
    <div id="sign-up-form">
      <%= simple_form_for @manufacturer do |form| %>

        <%= form.error_notification %>

        <%= form.input :name, :input_html => { :class => 'sign-up-create-input-field' }, placeholder: 'Name', label:false %>

        <%= form.input :username, :input_html => { :class => 'sign-up-create-input-field' }, placeholder: 'Username', label:false %>

        <%= form.input :password, :input_html => { :class => 'sign-up-create-input-field' }, placeholder: 'Password', label:false %>

        <%= form.input :email, :input_html => { :class => 'sign-up-create-input-field' }, placeholder: 'Email', label:false %>

        <%= form.input :telephone, :input_html => { :class => 'sign-up-create-input-field' }, placeholder: 'Telephone', label:false %>

       <%= form.button :submit, class: "sign-up-create-input-field sign-up-create-submit", id:"sign-up-submit" %>
      <% end %>

    </div>
  </div>
</div>
